.side_bar
  .side_bar__user_name
    .side_bar__user_name__text_box
      .side_bar__user_name__text_box__name_text
        = current_user.name
      .side_bar__user_name__text_box__icon_box
        = link_to "#", class: "" do
          = icon('far', 'edit',  class: "side_bar__user_name__text_box__icon_box--edit_icon")
        = link_to edit_user_path(current_user), class: "" do
          = icon('fas', 'cog',  class: "side_bar__user_name__text_box__icon_box--cog_icon")

  .side_bar__group_list
    .side_bar__group_list__list_box
      .side_bar__group_list__list_box__group_name
        techcamp
      .side_bar__group_list__list_box__top_message
        まだメッセージがありません
    .side_bar__group_list__list_box
      .side_bar__group_list__list_box__group_name
        techcamp
      .side_bar__group_list__list_box__top_message
        まだメッセージがありません
    .side_bar__group_list__list_box
      .side_bar__group_list__list_box__group_name
        techcamp
      .side_bar__group_list__list_box__top_message
        まだメッセージがありません
    .side_bar__group_list__list_box
      .side_bar__group_list__list_box__group_name
        techcamp
      .side_bar__group_list__list_box__top_message
        まだメッセージがありません
    .side_bar__group_list__list_box
      .side_bar__group_list__list_box__group_name
        techcamp
      .side_bar__group_list__list_box__top_message
        まだメッセージがありません